QMainWindow {
    background-color:#e7e7e7;
}

QLabel {
    font-family: PKMN RBYGSC; 
    font-size: 36px;
    color: #333;
}

QComboBox {
    font-size: 36px;
    font-family: PKMN RBYGSC;
    color: #333;
    padding: 8px;
    background-color:#e7e7e7;
   /* border: 6px solid #ff4444; */
}

QComboBox::drop-down:button{
	width: 48px;
}

QComboBox QAbstractItemView {
    color: #333;
    background-color:#e7e7e7;
    border: 2px solid darkgray;
    selection-background-color: lightgray;
}